// TODO
.container {
  
  img {
    width: 100%;
  }

  .content {
    max-width: 721px;
    margin: 80px auto;

    h1 {
      font-size: 3rem;
      color: var(--heading);
    }

    .postInfo {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-top: 1.5rem;

      & > span {
        font-size: 14px;
        line-height: 17px;
        color: var(--info);

        display: flex;
        align-items: center;

        i {
          margin-right: 8px;
          font-size: 20px;
        }
      }

      & > span + span {
        margin-left: 24px;
      }
    }

    main {
      margin-top: 4rem;

      section + section {
        margin-top: 2.25rem;
      }

      h2 {
        font-size: 2.25rem;
        line-height: 140%;
        color: var(--heading);
        margin-bottom: 2.25rem;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
        text-align: justify;
      }
    }
  }
}